{% extends "layout/default.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% block content %}
<br>
<h3>Feedback:</h3>
<form action="" method="post">
   {% csrf_token %}
   {{ form.as_p }}
   <input type="submit" value="Submit">
</form>
<br>
<h3>My contacts:</h3>
        <ul>
        <a  href="#" ><i class="bi bi-telegram"></i>Telegram<li></a>
            <a href="#"><i class="bi bi-instagram"></i>Instagram<li></a>
        <a href="#"><i class="bi bi-github"></i>Github<li></a>

{% endblock %}