.rightpic {
    float: right;
    margin: 0 0 5px 5px;
   }

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}
div.article-panel {
    background: #eee;
    padding: 5px 10px 5px 10px;
    box-sizing border-box;
    overflow: hidden;
    color: #555;
}

